<article class="content_app">
    <p class="app_header">아스테라가 만들어가는 서비스를 소개합니다.</p>
    <p class="app_comment">아스테라는 던전앤파이터 IP를 이용하여 즐거움을 위한 다양한 컨텐츠를 개발하고 있습니다.</p>

    <div class="app_banner">
        <p>COMING SOON !</p>
    </div>
    <div class="app_list">
        <div class="app_box">
            <div class="app_thumb">
                <img src="images/app_thumb_1.jpg">
            </div>
            <div class="app_title">비트 앤 파이터</div>
            <div class="app_desc">8비트로 즐기는 던전 앤 파이터</div>
        </div>
        <div class="app_box">
            <div class="app_thumb">
                <img src="images/app_thumb_2.jpg">
            </div>
            <div class="app_title">모바일 던파 쇼룸</div>
            <div class="app_desc">제휴 아바타 룩과 경매장 가격까지 확인할 수 있는 드레스룸</div>
        </div>
        <div class="app_box">
            <div class="app_thumb">
                <img src="images/app_thumb_3.jpg">
            </div>
            <div class="app_title">미니워 (Mini War)</div>
            <div class="app_desc">SD 캐릭터들이 펼치는 PVP 전쟁</div>
        </div>
        <div class="app_box">
            <div class="app_thumb">
                <img src="images/app_thumb_4.jpg">
            </div>
            <div class="app_title">던전 앤 파이터 모바일</div>
            <div class="app_desc">액션쾌감!!! 던전앤파이터의 모바일 버전</div>
        </div>
        <div class="app_box">
            <div class="app_thumb">
                <img src="images/app_thumb_5.jpg">
            </div>
            <div class="app_title">코레조 디펜스</div>
            <div class="app_desc">영웅 코레조가 되어 지옥의 군단을 처치하라!</div>
        </div>
        <div class="app_box">
            <div class="app_thumb">
                <img src="images/app_thumb_6.jpg">
            </div>
            <div class="app_title">슈팅! 던파</div>
            <div class="app_desc">친구들과 가볍게 즐길 수 있는 포트리스</div>
        </div>
    </div>
</article>