<article class="content_career">
    <img style="margin-bottom: 20px;" src="images/career_talent.png">
    <p class="text_astera">
        <li>누구나 관계 없이 오랫동안 즐겁게 플레이할 수 있는 온라인 문화를 만듭니다.</li>
        <li>유저들이 우리와 함께하는 던전앤파이터를 통해 좋은 추억을 쌓기를 바랍니다.</li>
        <li>이런 목표와 가치를 공유하는 사람들과 함께 더 높은 랭킹을 향해 도전하고 있습니다.</li>
    </p>
    <div class="talents">
        <div class="talent">
            <div class="talent_line"></div>
            <p class="talent_text">
                스스로에 대해 겸손하신 분
            </p>
        </div>
        <div class="talent">
            <div class="talent_line"></div>
            <p class="talent_text">
                배려와 존중을 기본으로 갖추신 분
            </p>
        </div>
        <div class="talent">
            <div class="talent_line"></div>
            <p class="talent_text">
                건전한 의사소통이 가능하신 분
            </p>
        </div>
        <div class="talent">
            <div class="talent_line"></div>
            <p class="talent_text">
                길드에 대한 책임감과 자부심이 있으신 분
            </p>
        </div>
        <div class="talent">
            <div class="talent_line"></div>
            <p class="talent_text">
                정보 공유를 아끼지 않는 분
            </p>
        </div>
        <div class="talent">
            <div class="talent_line"></div>
            <p class="talent_text">
                던린이 케어를 잘 해주시는 분
            </p>
        </div>
    </div>
    <hr>
    <img style="margin-bottom: 20px;" src="images/career_process.png">
    <div class="process">
        <img src="images/join_thumb_1.PNG">
        <p>
            <strong>오픈채팅 서류접수</strong>
            아래 지원하기 버튼으로 오픈채팅에 접속한 뒤 간단한 소개, 지원동기를 제출해 주세요!
        </p>
    </div>
    <div class="process">
        <img src="images/join_thumb_2.PNG">
        <p>
            <strong>면접</strong>
            서류가 접수되면 길드 마스터가 직접 면접을 진행합니다.
        </p>
    </div>
    <div class="process">
        <img src="images/join_thumb_3.PNG">
        <p>
            <strong>최종 합격</strong>
            면접이 끝나면 그 자리에서 최종 합격 안내를 드립니다.
        </p>
    </div>
    <a href="https://open.kakao.com/o/sbKOB0rc" target="_blank">지원하기</a>
</article>