<article class="content_chat">
    <img style="margin-bottom: 20px;" src="images/chat_header.PNG">
    <p class="text_astera">
        게임을 플레이하면서 모르는 게 있다면 인게임이 아니더라도 길드 톡방을 통해서 물어보세요. 
        이미 고일대로 고여버린 길드원들이 여러분을 프로 아라드인으로 견인해 드릴 겁니다. 
        질문 외에도 길드원들과 소통하면서 더욱 친해지고 싶다면 톡방에 오시는 걸 추천드립니다.
        아래 몇 가지 내용만 숙지해 주세요.
    </p>
    
    <img class="chat_banner" src="images/chat_banner.PNG">
    
    <div class="rules">
        <img src="images/rule_1.png">
        <p>
            <strong>참여 절차</strong>
            ▶ Step 1. 하단의 참여 버튼을 눌러서 오픈채팅을 접속한다.<br>
            ▶ Step 2. 비밀번호를 입력해서 채팅방에 참여한다. (운영진 문의)<br>
            ▶ Step 3. 프로필 이름은 던전앤파이터에서 사용하는 캐릭터의 닉네임으로 설정한다.<br>
            ▶ Step 4. 채팅방 상단의 공지사항과 규칙을 숙지하고 길드원들과 즐겁게 어울린다.
        </p>
    </div>
    <div class="rules">
        <img src="images/rule_2.png">
        <p>
            <strong>채팅 규칙</strong>
            ▶ 욕설, 분쟁 및 어그로 금지<br>
            ▶ 선정적, 정치적 대화 금지<br>
            ▶ 과도한 도배, 자랑 금지 (게임 + 일상)
        </p>
    </div>
    
    <div class="go_chat">
        <a href="https://open.kakao.com/o/gr5yuQ9" target="_blank">채팅방 입장</a>
    </div>
</article>