<article class="article_main">
    <div class="overlay"></div>
    <img class="main_bg" src="images/main_bg.jpg">
    <div class="main_bg_text">
        <img src="images/text_bg.PNG">
    </div>
    <video muted autoplay loop playsinline>
        <source src="video/main_bg.mp4" type="video/mp4">
        <source src="video/main_bg.webm" type="video/webm">
    </video>
</article>