<article class="content_first">
    <div class="content_title">WHAT WE TOGETHER</div>
    <div class="together_wrapper">
        <div class="together">
            <div class="together_image">
                <img src="images/together_dnf.png">
            </div>
            <div class="together_title">레이드 던전 공략</div>
            <div class="together_desc">
                야생 공대에 지친 분들을 위한 레이드 4~6연공 대기 중. 날먹만 아니라면, 길드원은 모두 환영!
            </div>
        </div>
        <div class="together">
            <div class="together_image">
                <img src="images/together_lol.png">
            </div>
            <div class="together_title">리그 오브 레전드</div>
            <div class="together_desc">
                탑레이팅 마스터인 길드 마스터와 함께 하는 수준 높은 일반/랭크게임을 지향. 기초 지식과 멘탈 필수!
            </div>
        </div>
        <div class="together">
            <div class="together_image">
                <img src="images/together_chat.PNG">
            </div>
            <div class="together_title">카카오톡 오픈채팅</div>
            <div class="together_desc">
                길드원들과 친해지고 싶고, 모르는게 많은 뉴비라면 길드 톡방에서 언제든 질문하고 소통하세요!
            </div>
        </div>
    </div>
</article>
<article class="content_bar">
    <img src="images/cbar_1.PNG">
</article>
<article class="content_second">
    <div class="content_title">ASTERA SNAPSHOT</div>
    <div class="snapshot_wrapper">
        <div class="snapshot">
            <a rel="lightbox" title="길드대전 참여율 100%" href="images/snapshot_1.jpg">
                <img src="images/snapshot_1.jpg">
            </a>
        </div>
        <div class="snapshot">
            <a rel="lightbox" title="길드대전 승리!" href="images/snapshot_2.jpg">
                <img src="images/snapshot_2.jpg">
            </a>
        </div>
        <div class="snapshot">
            <a rel="lightbox" title="얌굴님과 비치발리볼 한 판" href="images/snapshot_3.jpg">
                <img src="images/snapshot_3.jpg">
            </a>
        </div>
        <div class="snapshot">
            <a rel="lightbox" title="프레이 본섭 상륙! 길드원들과 레드 가보기" href="images/snapshot_4.jpg">
                <img src="images/snapshot_4.jpg">
            </a>
        </div>
        <div class="snapshot">
            <a rel="lightbox" title="마창이 유행하던 시절이 있었지"" href=" images/snapshot_5.jpg"> <img
                src="images/snapshot_5.jpg">
            </a>
        </div>
        <div class="snapshot">
            <a rel="lightbox" title="길드원들과 함께 퍼스트서버 시로코 도전" href="images/snapshot_6.jpg">
                <img src="images/snapshot_6.jpg">
            </a>
        </div>
        <div class="snapshot">
            <a rel="lightbox" title="길드원끼리 '마도 vs 엘마' 싸우자 내전" href="images/snapshot_7.jpg">
                <img src="images/snapshot_7.jpg">
            </a>
        </div>
        <div class="snapshot">
            <a rel="lightbox" title="법사 진각 업뎃 기념. 람쥐썬더 (feat. 하늘열차님)" href="images/snapshot_8.jpg">
                <img src="images/snapshot_8.jpg">
            </a>
        </div>
        <div class="snapshot">
            <a rel="lightbox" title="(박제) 잘생겨서 피곤한 엄님" href="images/snapshot_9.jpg">
                <img src="images/snapshot_9.jpg">
            </a>
        </div>
    </div>
</article>
<article class="content_bar">
    <img src="images/cbar_2.PNG">
</article>
<article class="content_third">
    <div class="content_title">YOUTUBE</div>
    <div class="youtube_logo">
        <img src="images/logo_youtube.png">
    </div>
    <div class="video_wrapper">
        <div class="astera_video">
            <a href="https://www.youtube.com/embed/Dp6YuOeRbds">
                <img src="images/youtube_thumb_1.jpg">
            </a>
            <p class="astera_video_title">오큘러스 2인쩔</p>
            <p class="astera_video_desc">"신나는소울님과 함께한 쌀먹"</p>
        </div>
        <div class="astera_video">
            <a href="https://www.youtube.com/embed/piLe666uMBc">
                <img src="images/youtube_thumb_2.jpg">
            </a>
            <p class="astera_video_title">아스테라 공식 노예 선언</p>
            <p class="astera_video_desc">"아ㅋㅋ 노예들의 짬밥 대결 (얌과 추)"</p>
        </div>
        <div class="astera_video">
            <a href="https://www.youtube.com/embed/IMyIuduQDSA">
                <img src="images/youtube_thumb_3.jpg">
            </a>
            <p class="astera_video_title">심큘러스 트라이!</p>
            <p class="astera_video_desc">"패턴 무시, only 딜찍누 정예팟"</p>
        </div>
        <div class="astera_video">
            <a href="https://www.youtube.com/embed/A7ze9aB1KR0">
                <img src="images/youtube_thumb_4.jpg">
            </a>
            <p class="astera_video_title">마수던전 타임어택</p>
            <p class="astera_video_desc">"때 지난 컨텐츠. 과연 몇 초까지?"</p>
        </div>
    </div>
</article>