<article class="content_intro">
    <img style="margin-bottom: 20px;" src="images/intro_astera.png">
    <p class="text_astera">
        아스테라는 2015년 11월에 창설된 던전앤파이터 길드입니다.<br><br>
        배려와 존중을 모토로 시작하여, 수준 높은 온라인 문화를 지향하고 있으며 매너 좋은 길드로 꾸준히 인정받고 있습니다.
길드를 통해 던전앤파이터를 플레이하는 사람들의 즐거움이 더 풍성해질 수 있다는 믿음 아래, 아스테라 구성원 모두 매일매일 최선을 다하고 있습니다.
        <br><br>
        "We Light-Up The World" 라는 길드 슬로건을 바탕으로 더 밝은 온라인 세상을 함께 만들어 갔으면 좋겠습니다.
    </p>
    <div class="intro_vision">
        <img src="images/intro_vision.png">
        <p>
            <strong>비전</strong>
            아스테라가 꿈꾸는 길드<br>
            ▶ 많은 유저에게 인정받는 NO.1 길드 되기
        </p>
    </div>
    <div class="intro_keyword">
        <img src="images/intro_keyword.png">
        <p>
            <strong>키워드</strong>
            비전을 이루기 위해 아스테라가 선택한 키워드<br>
            ▶ 완벽 - 꾸준한 관리와 개선을 통한 완벽함을 추구하기<br>
            ▶ 존중 - 존중을 바탕으로 서로를 배려하고 더욱 친해지기<br>
            ▶ 재미 - 수준 높은 문화 아래 재미를 찾아 게임하기
        </p>
    </div>
    <hr>
    <img style="margin-bottom: 20px;" src="images/intro_benefit.png">
    <p class="text_astera">
        아스테라는 아래 표기된 혜택을 무제한으로 제공하고 있으며, 항상 부족하지 않도록 운영진이 주기적으로 확인하며 채우고 있습니다. 
        기본적인 혜택 외에도 길드 던전을 '영원의 전당'까지 오픈해놓은 상태이니 길드 랭킹을 통한 주화 획득, 휘장과 젬 파밍도 자유롭게 하시면 됩니다.
    </p>
    <div class="intro_benefit">
        <div class="benefit">
            <img src="images/intro_benefit_exp.png">
            <p>
                <strong>길드경험치 (무제한)</strong>
                던전 사냥으로 획득하는 경험치가 10% 증가합니다.
            </p>
        </div>
        <div class="benefit">
            <img src="images/intro_benefit_stat.png">
            <p>
                <strong>길드능력치 (기간제 + 무제한)</strong>
                힘/지능/체력/정신력이 120 증가합니다.
            </p>
        </div>
        <div class="benefit">
            <img src="images/intro_benefit_tp.png">
            <p>
                <strong>텔레포트 (상시 충전)</strong>
                개인 또는 파티원 모두를 원하는 위치로 텔레포트 할 수 있습니다.
            </p>
        </div>
        <div class="benefit">
            <img src="images/intro_benefit_anti.png">
            <p>
                <strong>항마력 버프 (상시 충전)</strong>
                던전 12회동안 항마력이 30 증가합니다.
            </p>
        </div>
    </div>
    <hr>
    <img style="margin-bottom: 20px;" src="images/intro_gi.png">
    <p class="text_astera">
        아스테라 GI(Guild Identity)를 소개합니다.<br><br>

        아스테라는 길드 마스터가 특수 던전과 레이드에서 버퍼난을 많이 겪었기 때문에 버퍼를 우대하자는 취지에서 이를 도트화하여 길드 마크로 사용했습니다. 
        정작 본 캐릭터는 엘레멘탈 마스터와 마도학자이기 때문에 언제 바뀌어도 이상하지 않지만, 다행히 아직까지도 세라핌이 그 자리를 굳건히 잘 지키고 있습니다.
    </p>
    <div class="intro_gi">
        <img class="intro_gi" src="images/intro_gi_seraph.PNG">
    </div>
</article>