<article class="content_sirocco">
    <img src="images/raid_banner.png">
    <div class="raid_button">
        <button class="raid_1">1 기수</button>
        <button class="raid_2">2 기수</button>
        <button class="raid_3">3 기수</button>
        <button class="raid_4">4 기수</button>
        <button class="raid_5">5 기수</button>
    </div>
    <div class="table_container">
        <table class="raid_player">
            <tr class="raid_top">
                <td class="player">파티</td>
                <td class="player">버퍼</td>
                <td class="player">딜러</td>
                <td class="player">딜러</td>
                <td class="player">시너지</td>
            </tr>
            <tr>
                <td class="raid_team">레드</td>
                <td class="player"></td>
                <td class="player"></td>
                <td class="player"></td>
                <td class="player"></td>
            </tr>
            <tr>
                <td class="raid_team">오렌지</td>
                <td class="player"></td>
                <td class="player"></td>
                <td class="player"></td>
                <td class="player"></td>
            </tr>
            <tr>
                <td class="raid_team">옐로우</td>
                <td class="player"><br></td>
                <td class="player"></td>
                <td class="player"></td>
                <td class="player"></td>
            </tr>
            <tr>
                <td class="raid_etc">비고사항</td>
                <td colspan="4" class="etc"></td>
            </tr>
        </table>
        <!-- 2기수 -->
        <table class="raid_player">
            <tr class="raid_top">
                <td class="player">파티</td>
                <td class="player">버퍼</td>
                <td class="player">딜러</td>
                <td class="player">딜러</td>
                <td class="player">시너지</td>
            </tr>
            <tr>
                <td class="raid_team">레드</td>
                <td class="player"></td>
                <td class="player"></td>
                <td class="player"></td>
                <td class="player"></td>
            </tr>
            <tr>
                <td class="raid_team">오렌지</td>
                <td class="player"></td>
                <td class="player"></td>
                <td class="player"></td>
                <td class="player"></td>
            </tr>
            <tr>
                <td class="raid_team">옐로우</td>
                <td class="player"><br></td>
                <td class="player"></td>
                <td class="player"></td>
                <td class="player"></td>
            </tr>
            <tr>
                <td class="raid_etc">비고사항</td>
                <td colspan="4" class="etc"></td>
            </tr>
        </table>
        <!-- 3기수 -->
        <table class="raid_player">
            <tr class="raid_top">
                <td class="player">파티</td>
                <td class="player">버퍼</td>
                <td class="player">딜러</td>
                <td class="player">딜러</td>
                <td class="player">시너지</td>
            </tr>
            <tr>
                <td class="raid_team">레드</td>
                <td class="player"></td>
                <td class="player"></td>
                <td class="player"></td>
                <td class="player"></td>
            </tr>
            <tr>
                <td class="raid_team">오렌지</td>
                <td class="player"></td>
                <td class="player"></td>
                <td class="player"></td>
                <td class="player"></td>
            </tr>
            <tr>
                <td class="raid_team">옐로우</td>
                <td class="player"><br></td>
                <td class="player"></td>
                <td class="player"></td>
                <td class="player"></td>
            </tr>
            <tr>
                <td class="raid_etc">비고사항</td>
                <td colspan="4" class="etc"></td>
            </tr>
        </table>
        <!-- 4기수 -->
        <table class="raid_player">
            <tr class="raid_top">
                <td class="player">파티</td>
                <td class="player">버퍼</td>
                <td class="player">딜러</td>
                <td class="player">딜러</td>
                <td class="player">시너지</td>
            </tr>
            <tr>
                <td class="raid_team">레드</td>
                <td class="player"></td>
                <td class="player"></td>
                <td class="player"></td>
                <td class="player"></td>
            </tr>
            <tr>
                <td class="raid_team">오렌지</td>
                <td class="player"></td>
                <td class="player"></td>
                <td class="player"></td>
                <td class="player"></td>
            </tr>
            <tr>
                <td class="raid_team">옐로우</td>
                <td class="player"><br></td>
                <td class="player"></td>
                <td class="player"></td>
                <td class="player"></td>
            </tr>
            <tr>
                <td class="raid_etc">비고사항</td>
                <td colspan="4" class="etc"></td>
            </tr>
        </table>
        <!-- 5기수 -->
        <table class="raid_player">
            <tr class="raid_top">
                <td class="player">파티</td>
                <td class="player">버퍼</td>
                <td class="player">딜러</td>
                <td class="player">딜러</td>
                <td class="player">시너지</td>
            </tr>
            <tr>
                <td class="raid_team">레드</td>
                <td class="player"></td>
                <td class="player"></td>
                <td class="player"></td>
                <td class="player"></td>
            </tr>
            <tr>
                <td class="raid_team">오렌지</td>
                <td class="player"></td>
                <td class="player"></td>
                <td class="player"></td>
                <td class="player"></td>
            </tr>
            <tr>
                <td class="raid_team">옐로우</td>
                <td class="player"><br></td>
                <td class="player"></td>
                <td class="player"></td>
                <td class="player"></td>
            </tr>
            <tr>
                <td class="raid_etc">비고사항</td>
                <td colspan="4" class="etc"></td>
            </tr>
        </table>
    </div>
    <img src="images/sirocco_spec.png">
    <div class="rules">
        <img src="images/dealer.PNG">
        <p>
            <strong>딜러 / 시너지</strong>
            ▶ 시로코 졸업 (잔향 + 로도스·무의식·록시·암살자·수문장)<br>
            ▶ 무기 12강 + 100제 에픽 풀세트 (533, 3332 / 이에 준하는 산물 세팅)<br>
            ▶ 올 쿨감픽으로 도배할 시 데미지가 나오지 않으므로 스펙 미달<br>
            ▶ 위 스펙에 준하는 산물을 포함한 세팅도 가능<br>
            ▶ 스위칭 레벨 만렙 + 아바타 풀 세트 + 데미지 크리쳐 + 크리티컬 100%

            <strong class="cast">[ 마법 부여 ]</strong>
            ▶ 무기: 속성 강화 + 15<br>
            ▶ 방어구: 공격력 + 50<br>
            ▶ 악세사리: 속성 강화 + 25<br>
            ▶ 마법석: 속성 강화 + 15<br>
            ▶ 귀걸이: 스탯 + 100 (7강 or 7증폭 이상)
        </p>
    </div>
    <div class="rules">
        <img src="images/buffer.png">
        <p>
            <strong>버퍼</strong>
            ▶ 버프력 총합 130,000 이상 (스탯 + 물마독)<br>
            ▶ 던담 또는 던파오프 사이트에서 확인 가능
        </p>
    </div>
    <span class="gap"></span>
    <img src="images/sirocco_rule.png">
    <div class="rules">
        <img src="images/rule_1.png">
        <p>
            <strong>레이드 보상 관련</strong>
            ▶ 골드 카드 드랍으로 기만하지 않기<br>
            ▶ 골드 카드가 본인의 것이 아니라도 짜증내지 않기
        </p>
    </div>
    <div class="rules">
        <img src="images/rule_2.png">
        <p>
            <strong>길드공대 참가 관련</strong>
            ▶ 공대장 오더를 잘 듣고, 어려운 상황에는 도와주기<br>
            ▶ 날먹 금지, 커트라인 준수하기<br>
            ▶ [고정] 늦거나 불참 시 1시간 전까지 알리기 (편지, 개인톡)<br>
            ▶ [고정] 위의 사항 3회 이상 누적 시 8주간 고정 제외
        </p>
    </div>
</article>
