<article class="content_rule">
    <img style="margin-bottom: 20px;" src="images/rule_rule.png">
    <p class="text_astera">
        아스테라 길드 규칙은 대부분 지향하는 목표를 위해 만들어진 사항이 많습니다.
따라서 일상 전반에 배려가 있는 분이시라면 불편한 부분은 크게 없을 거라 생각합니다.

규칙은 길드 마스터 혼자서가 아닌, 한분 한분의 의견을 받아 정한 것이니 이후 불이익이 없도록 반드시 숙지 부탁드립니다.
또한, 변경사항이 있을 시에는 항상 길드 우편이나 카카오톡 그룹채팅을 통해 안내해 드리니 이 점 양해 부탁드립니다.
    </p>
    <div class="rules">
        <img src="images/rule_1.png">
        <p>
            <strong>길드 채팅</strong>
            <span>함께 사용하는 공유와 화합의 공간</span><br>
            ▶ 욕설 금지<br>
            ▶ 징징 금지<br>
            ▶ 구걸 금지<br>
            ▶ 친해졌더라도 선 넘는 장난 금지<br>
            ▶ 분쟁, 어그로 금지 (즉시 제명)<br>
            ▶ 선정적, 정치적 대화 금지 (즉시 제명)
        </p>
    </div>
    <div class="rules">
        <img src="images/rule_2.png">
        <p>
            <strong>길드 공대</strong>
            <span>모두가 이끌어가는 레이드 공대</span><br>
            ▶ 공략이 미숙한 분들 케어 해주기<br>
            ▶ 날먹 금지, 커트라인 준수하기<br>
            ▶ [고정] 늦거나 불참 시 1시간 전까지 알리기 (편지, 개인톡)<br>
            ▶ [고정] 위의 사항 3회 이상 누적 시 8주간 고정 제외
        </p>
    </div>
    <div class="rules">
        <img src="images/rule_3.png">
        <p>
            <strong>링크 시스템</strong>
            <span>유효픽은 서로 축하해 주기</span><br>
            ▶ 모든 링크 허용<br>
            ▶ 링크 도배 금지<br>
            ▶ 과도한 자랑, 기만 금지
        </p>
    </div>
    <div class="rules">
        <img src="images/rule_4.png">
        <p>
            <strong>커뮤니티 박제</strong>
            <span>다양한 사람이 있는 세상, 먼저 이해하기</span><br>
            ▶ 관련 된다면 자료 최대한 많이 준비하기 (스크린샷, 동영상)<br>
            ▶ 마을의 말썽쟁이, 도시의 불한당 (즉시 제명)
        </p>
    </div>
    <div class="rules">
        <img src="images/rule_5.png">
        <p>
            <strong>기타 규칙</strong>
            <span>기타 사항이라도 우선순위는 동일</span><br>
            ▶ 장사꾼 행위 금지<br>
            ▶ 성별, 나이 밝힐 필요 X<br>
            ▶ 30일 이상 장기간 미접속 예정 시 미리 알리기<br>
            ▶ 하트비트 메가폰도 규칙 동일하게 적용
        </p>
    </div>
    <div class="rules">
        <img src="images/rule_6.png">
        <p>
            <strong>유의사항</strong>
            <span>즉시 제명 표기가 없는 금지 관련 규칙은 위반 시 경고가 누적되는 사항입니다.</span><br>
            ▶ 경고 기록은 제명 시 관련 자료로 활용할 수 있습니다.<br>
            ▶ 이해할 수 있는 상황도 있지만, 정도가 지나치면 즉시 제명이 가능합니다.
        </p>
    </div>
</article>