<article class="content_sponsor">
    <img src="images/sponsor_banner.PNG"><br>
    <img style="width: 100px; " src="images/sponsor_banner_2.PNG">
    <p class="header">커피 한 잔이라도 사주심쇼</p>
    <p class="comment">사이트 유지비 다 필요 없고, 아이스 아메리카노 하나면 됩니다.</p>

    <hr>

    <div class="sponsor_list">
        <a href="https://www.buymeacoffee.com/nohack" target="_blank">
            <div class="sponsor_box">
                <div class="sponsor_thumb">
                    <img src="images/sponsor_thumb_1.png">
                </div>
                <div class="sponsor_title">Buy me a coffee</div>
                <div class="sponsor_desc">3,000원 정도의 후원으로 사주는 커피</div>
            </div>
        </a>
        <div class="sponsor_box">
            <div class="sponsor_thumb">
                <img src="images/sponsor_thumb_2.png">
            </div>
            <div class="sponsor_title">Twip</div>
            <div class="sponsor_desc">트위치 후원 서비스에서 간단하게 결제하기</div>
        </div>
        <div class="sponsor_box">
            <div class="sponsor_thumb">
                <img src="images/sponsor_thumb_3.png">
            </div>
            <div class="sponsor_title">카톡 기프티콘</div>
            <div class="sponsor_desc">길드 마스터에게 직접 쏘는 기프티콘</div>
        </div>
        <div class="sponsor_box">
            <div class="sponsor_thumb">
                <img src="images/sponsor_thumb_4.png">
            </div>
            <div class="sponsor_title">구글 애드센스</div>
            <div class="sponsor_desc">배너 형식으로 달리는 가벼운 광고</div>
        </div>
    </div>
</article>