<article class="content_support">
    <img src="images/support_banner.PNG"><br>
    <img src="images/support_banner_2.PNG">
    <p class="support_header">아스테라 길드에 문의할 사항이 있으신가요?</p>
    <p class="support_comment">아스테라에 궁금한 점이 있거나 길드원의 비매너 행위를 목격했다면 언제든 연락주세요.</p>

    <a href="https://open.kakao.com/o/sx90A0rc">오픈채팅 문의하기</a>
    <hr>

    <div class="rules">
        <img src="images/rule_1.png">
        <p>
            <strong>추천 문의 유형</strong>
            ▶ 길드 개선 의견<br>
            ▶ 길드 사이트 이용 건의<br>
        </p>
    </div>
    <div class="rules">
        <img src="images/rule_2.png">
        <p>
            <strong>신고 시 유의사항</strong>
            ▶ 편집 없는 스크린샷 캡쳐본 여러 장 준비<br>
            ▶ 가능하다면 동영상 기록, 채팅 로그도 준비
        </p>
    </div>
    <div class="rules">
        <img src="images/rule_3.png">
        <p>
            <strong>공통사항</strong>
            ▶ 욕설 금지
        </p>
    </div>
</article>