@media all and (min-width:1024px) {
    #asteraWrap {
        overflow: hidden;
        position: relative;
        width: 100%;
        min-width: 1024px;
        min-height: 100%;
        box-sizing: border-box;
    }

    #asteraHead {
        position: fixed;
        width: 100%;
        height: auto;
        background-color: #fff;
        border-bottom: 1px solid #e5e5e5;
        z-index: 9999;
    }

    .a_head {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        max-width: 1280px;
        height: 69px;
        margin: 0 auto;
    }

    .a_head .tit_logo {
        overflow: hidden;
        margin: 0 auto;
    }

    .a_head .link_logo {
        display: block;
        margin-left: 46px;
        font-family: CookieRunRegular;
    }

    .a_head .main_gnb {
        float: left;
        height: 69px;
        display: flex;
    }

    .a_head .main_gnb_wrapper {
        position: initial !important;
    }

    .a_head .main_gnb_wrapper:hover>.main_gnb_sub {
        display: flex;
    }

    .a_head .main_gnb_wrapper:hover>.main_gnb_link {
        color: #ed1b2d;
        border-bottom: 3px solid #ed1b2d;
    }

    .a_head .main_gnb_link {
        height: 67px;
        padding: 0px 24px;
        display: flex;
        align-items: center;
        font-family: CookieRunRegular;
        font-weight: bold;
        font-size: 1.2em;
        color: #23292f;
    }

    .a_head .main_gnb_sub {
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        display: none;
        flex-direction: column;
        align-items: center;
        background-color: #fff;
        border-bottom: 1px solid #e5e5e5;
        z-index: 9999;
    }

    .a_head .main_gnb_sub .inner_nav {
        width: 100%;
        max-width: 1280px;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }

    .a_head .inner_nav .nav_box {
        padding: 48px 0;
        text-align: center;
        font-size: 0.875em;
        border-left: 1px solid #e5e5e5;
    }

    .a_head .inner_nav .nav_box:last-child {
        border-right: 1px solid #e5e5e5;
    }

    .a_head .nav_box>p {
        font-weight: bold;
    }

    .a_head .nav_box>ul {
        padding-top: 24px;
    }

    .a_head .nav_box>ul li {
        margin-top: 12px;
    }

    .a_head .nav_box .nav_link {
        color: #666;
    }

    .a_head .nav_box .nav_link:hover {
        border-bottom: 1px solid #000;
    }

    .a_head .ex_gnb {
        height: 49px;
        float: right;
        display: flex;
        align-items: center;
    }

    .a_head .ex_gnb_wrapper > li {
        float: left;
        padding: 0 6px;
    }

    .a_head .ex_gnb_link img {
        max-height: 30px;
        display: block;
    }

    /* 모바일 - 메인 메뉴 */
    .main_menu {
        display: none;
    }

    /* 모바일 - 외부 링크 메뉴 */
    .ex_menu {
        display: none;
    }

    #asteraTopSection {
        position: relative;
        width: 100%;
        padding-top: 69px;
    }

    #asteraTopSection > .article_main {
        position: relative;
        width: 100%;
        height: calc(100vh - 69px);
    }

    #asteraTopSection .main_bg {
        display: none;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    #asteraTopSection .main_bg_text {
        position: absolute;
        top: 30%;
        left: 35%;
        transform: translate(-50%, -50%);
    }

    #asteraTopSection .main_bg_text img {
        max-width: 100%;
        max-height: 100%;
    }

    #asteraTopSection video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.7);
    }

    #asteraTopSection > .article_topbanner {
        position: relative;
        width: 100%;
    }

    .article_topbanner .topbanner {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    #asteraMainSection {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .a_section {
        width: 100%;
        max-width: 1280px;
        padding: 120px 0 80px;
    }

    .a_section > article {
        text-align: center;
    }

    .a_section .content_title {
        color: #000;
        font-size: 1.8em;
        font-weight: bold;
    }

    .a_section .together_wrapper {
        width: 100%;
        margin-top: 80px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .a_section .together {
        padding: 0 12px;
    }

    .a_section .together_image img {
        width: 120px;
        opacity: 0;
        transform: rotate(90deg);
    }

    .together_animate {
        animation-name: togetherKF;
        animation-duration: .7s;
        animation-fill-mode: forwards;
    }

    @keyframes togetherKF {
        100% {
            opacity: 1;
            transform: rotate(0);
        }
    }

    .a_section .together_title {
        padding: 24px 0 18px;
        color: #000;
        font-weight: bold;
        font-size: 1.2em;
    }

    .a_section .together_desc {
        line-height: 24px;
        font-size: .9em;
    }

    .a_section .content_bar {
        margin: 80px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .a_section .content_bar img {
        width: 100%;
    }

    .a_section .content_second {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .a_section .snapshot_wrapper {
        width: 97%;
        height: 97%;
        opacity: 0;
        visibility: hidden;
        margin: 80px 0 30px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 33% 33% 33%;
        column-gap: 12px;
        row-gap: 12px;
    }

    .a_section .snapshot {
        display: block;
        border: 1px solid #c9c9c9;
    }

    .a_section .snapshot img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .a_section .content_third {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .a_section .content_third > .youtube_logo {
        margin-top: 0px;
    }

    .a_section .content_third > .youtube_logo img {
        width: 120px;
        max-width: 120px;
    }

    .a_section .video_wrapper {
        width: 97%;
        height: 97%;
        opacity: 0;
        visibility: hidden;
        margin-top: 5px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 12px;
        row-gap: 12px;
    }

    .a_section .astera_video a {
        display: block;
        border: 1px solid #c9c9c9;
    }

    .a_section .astera_video img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .a_section .astera_video_title {
        margin: 12px 0;
        color: #000;
        font-size: 1em;
        font-weight: bold;
    }

    .a_section .astera_video_desc {
        font-size: .9em;
    }

    .photo_wrapper_animate {
        animation-name: photoWrapperKF;
        animation-duration: .7s;
        animation-fill-mode: forwards;
    }

    @keyframes photoWrapperKF {
        100% {
            width: 100%;
            height: 100%;
            visibility: visible;
            opacity: 1;
        }
    }

    /* 길드소개 */
    .a_section .content_intro {
        padding: 0 48px;
        text-align: left;
    }

    .a_section .text_astera {
        font-family: KakaoRegular;
        text-align: justify;
        font-size: 1.1em;
        line-height: 36px;
    }

    .a_section .intro_vision {
        padding: 80px 0 0 40px;
        display: grid;
        grid-template-columns: 150px 1fr;
    }

    .a_section .intro_vision img {
        width: 100px;
    }

    .a_section .intro_vision p {
        font-family: KakaoRegular;
        line-height: 36px;
        font-size: 1.1em;
    }

    .a_section .intro_vision strong {
        font-family: KakaoRegular;
        margin-bottom: 24px;
        display: block;
        font-size: 1.8em;
    }

    .a_section .intro_keyword {
        padding: 80px 0 0 40px;
        margin-bottom: 40px;
        display: grid;
        grid-template-columns: 150px 1fr;
    }

    .a_section .intro_keyword img {
        width: 100px;
    }

    .a_section .intro_keyword p {
        font-family: KakaoRegular;
        line-height: 36px;
        font-size: 1.1em;
    }

    .a_section .intro_keyword strong {
        font-family: KakaoRegular;
        margin-bottom: 24px;
        display: block;
        font-size: 1.8em;
    }

    .a_section hr {
        margin: 80px 0;
    }

    .a_section .intro_benefit {
        padding: 80px 0 0 65px;
    }

    .a_section .benefit {
        display: grid;
        grid-template-columns: 125px 1fr;
        margin-bottom: 24px;
    }

    .a_section .intro_benefit img {
        width: 60px;
    }

    .a_section .intro_benefit p {
        font-family: KakaoRegular;
        line-height: 24px;
        font-size: 1.1em;
    }

    .a_section .intro_benefit strong {
        font-family: KakaoRegular;
        margin-bottom: 12px;
        display: block;
        font-size: 1.4em;
    }

    .a_section .intro_gi {
        padding-top: 20px;
        text-align: center;
    }

    /* 길드 규칙 */
    .a_section .content_rule {
        padding: 0 48px;
        text-align: left;
    }

    .a_section .rules {
        padding: 80px 0 0 40px;
        display: grid;
        grid-template-columns: 150px 1fr;
    }

    .a_section .rules img {
        width: 100px;
    }

    .a_section .rules p {
        font-family: KakaoRegular;
        line-height: 28px;
        font-size: 1.1em;
    }

    .a_section .rules p span {
        font-family: KakaoRegular;
        line-height: 28px;
        font-size: 1.1em;
    }

    .a_section .rules strong {
        font-family: KakaoRegular;
        margin-bottom: 18px;
        display: block;
        font-size: 1.8em;
    }

    /* 가입 방법 */
    .a_section .content_career {
        padding: 0 48px;
        text-align: center;
    }

    .a_section .content_career > img {
        display: block;
        text-align: left;
    }

    .a_section .content_career hr {
        margin: 80px 0 50px;
    }

    .a_section .content_career li {
        margin-left: 4px;
        list-style-type: disc;
        font-family: KakaoRegular;
        text-align: justify;
        font-size: 1.1em;
        line-height: 36px;
    }

    .a_section .talents {
        padding: 40px 0 0 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 33% 33% 33%;
        column-gap: 14px;
        row-gap: 10px;
    }

    .a_section .talent {
        position: relative;
        width: auto;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        border: 1px solid #c9c9c9;
        box-shadow: 0 0 4px 1px rgba(0, 0, 0, .2);
    }

    .a_section .talent:hover div {
        border-bottom: 5px solid #ff0141;
    }

    .a_section .talent:hover p {
        color: #ff0141;
    }

    .a_section .talent div {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 95px;
    }

    .a_section .talent p {
        font-family: KakaoRegular;
        line-height: 28px;
        font-size: 1.2em;
        font-weight: bold;
    }

    .a_section .career_process {
        margin: 20px 0 40px;
        display: grid;
        grid-template-columns: 250px 250px 250px;
        column-gap: 30px;
    }

    .a_section .process {
        padding: 40px 0 0 40px;
        display: grid;
        grid-template-columns: 150px 1fr;
    }

    .a_section .process img {
        width: 100px;
    }

    .a_section .process p {
        font-family: KakaoRegular;
        line-height: 28px;
        font-size: 1.1em;
        text-align: left !important;
    }

    .a_section .process strong {
        font-family: KakaoRegular;
        margin: 12px 0 18px;
        display: block;
        font-size: 1.8em;
    }

    .a_section .content_career > a {
        display: inline-block;
        margin: 40px 20px 0;
        padding: 18px 54px;
        color: #fff;
        font-family: KakaoRegular;
        line-height: 28px;
        font-size: 1.4em;
        box-sizing: border-box;
        background: #000;
    }

    /* 모바일 앱 */
    .a_section .content_app {
        padding: 0 48px;
        text-align: left;
    }

    .a_section .content_app .app_header {
        font-family: KakaoRegular;
        color: #ff0141;
        font-size: 1.8em;
        padding-bottom: 20px;
    }
    
    .a_section .content_app .app_comment  {
        font-family: KakaoRegular;
        font-size: 1.2em;
        padding-bottom: 20px;
    }

    .a_section .content_app .app_banner {
        display: inline-block;
        margin-top: 80px;
        box-sizing: border-box;
        background: #ff0141;
        border-radius: 0 25px 0 0;
    }

    .a_section .app_banner p {
        margin: 15px 20px;
        font-family: KakaoRegular;
        color: white;
        font-weight: bold;
    }
    

    .a_section .app_list {
        padding: 40px 0 120px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 33% 33% 33%;
        column-gap: 14px;
        row-gap: 50px;
    }

    .a_section .app_box {
        width: 450px;
        height: auto;
    }

    .a_section .app_box .app_thumb {
        width: 450px;
    }

    .a_section .app_box .app_thumb img {
        width: 450px;
        height: 280px;
        object-fit: cover;
    }

    .a_section .app_box .app_title {
        padding: 20px 0 10px;
        font-family: KakaoRegular;
        font-size: 1.8em;
        font-weight: bold;
    }

    .a_section .app_box .app_desc {
        font-family: KakaoRegular;
        font-size: 1.2em;
    }

    /* 문의사항 */
    .a_section .content_support {
        padding: 0 48px;
    }

    .a_section .content_support img {
        margin-bottom: 18px;
    }

    .a_section .content_support .support_header {
        font-family: KakaoRegular;
        color: #ff0141;
        font-size: 1.8em;
        padding-bottom: 20px;
    }
    
    .a_section .content_support .support_comment  {
        font-family: KakaoRegular;
        font-size: 1.2em;
        padding-bottom: 20px;
    }

    .a_section .content_support hr {
        width: 700px;
        margin: 60px auto;
    }

    .a_section .content_support > a {
        display: inline-block;
        margin: 40px 20px 0;
        padding: 18px 54px;
        color: #fff;
        font-family: KakaoRegular;
        line-height: 28px;
        font-size: 1.4em;
        box-sizing: border-box;
        background: #000;
    }

    .a_section .content_support .rules {
        width: 700px;
        text-align: left;
        display: grid;
        grid-template-columns: 150px 550px;
        margin: 0 auto;
    }

    /* 후원하기 */
    .a_section .content_sponsor {
        padding: 0 48px;
    }

    .a_section .content_sponsor > img {
        margin-bottom: 18px;
    }

    .a_section .content_sponsor .header {
        font-family: KakaoRegular;
        color: #ff0141;
        font-size: 1.8em;
        padding-bottom: 20px;
    }
    
    .a_section .content_sponsor .comment  {
        font-family: KakaoRegular;
        font-size: 1.2em;
        padding-bottom: 20px;
    }

    .a_section .content_sponsor hr {
        width: 700px;
        margin: 60px auto;
    }

    .a_section .sponsor_list {
        padding: 0 0 120px;
    }

    .a_section .sponsor_box {
        display: inline-block;
        width: 320px;
        height: auto;
        padding: 20px 40px;
    }

    .a_section .sponsor_box .sponsor_thumb {
        width: 320px;
    }

    .a_section .sponsor_box .sponsor_thumb img {
        width: 320px;
        object-fit: cover;
    }

    .a_section .sponsor_box .sponsor_title {
        padding: 20px 0 10px;
        font-family: KakaoRegular;
        font-size: 1.8em;
        font-weight: bold;
    }

    .a_section .sponsor_box .sponsor_desc {
        font-family: KakaoRegular;
        font-size: 1.2em;
    }

    /* 오픈채팅 */
    .a_section .content_chat {
        padding: 0 48px;
        text-align: left;
    }

    .a_section .content_chat .rules {
        padding: 80px 0 0 40px;
        display: grid;
        grid-template-columns: 150px 1fr;
    }

    .a_section .content_chat .rules img {
        width: 100px;
    }

    .a_section .content_chat .rules p {
        font-family: KakaoRegular;
        line-height: 28px;
        font-size: 1.1em;
    }

    .a_section .content_chat .rules strong {
        font-family: KakaoRegular;
        margin-bottom: 18px;
        display: block;
        font-size: 1.8em;
    }

    .a_section .go_chat {
        margin: 80px 0 160px;
        display: block;
        text-align: center;
    }

    .a_section .go_chat > a {
        padding: 18px 54px;
        color: #fff;
        font-family: KakaoRegular;
        line-height: 28px;
        font-size: 1.4em;
        box-sizing: border-box;
        background: #000;
    }

    .chat_banner {
        display: block;
        margin: 60px auto 0px;
        width: 80%;
    }

    .a_section .content_sirocco {
        padding: 0 48px;
        text-align: left;
    }

    .table_container {
        width:100%;	
	    overflow-x:auto;
        white-space: nowrap;
    }

    .raid_player {
        margin: 15px 0 80px 40px;
        border: 1px solid #666;
        text-align: center;
        box-sizing: border-box;
        border-collapse: collapse;

    }

    .raid_top {
        background: #dadada;
        font-weight: bold;
    }

    td {
        font-family: KakaoRegular;
        font-size: 1.2em;
        padding: 20px 40px;
        border: 1px solid #666;
    }

    td.player {
        width: 150px;
    }

    .raid_button {
        margin-top: 40px;
        padding-left: 40px;
    }

    .a_section .content_sirocco button {
        display: inline-block;
        padding: 15px 40px;
        margin-right: 10px;
        font-family: KakaoRegular;
        font-weight: bold;
        color: #fff;
        background: #000;
    }

    .a_section .content_sirocco button:hover {
        background: #666;
    }

    .a_section .content_sirocco .rules {
        padding: 40px 0 20px 40px;
        display: grid;
        grid-template-columns: 150px 1fr;
    }

    .a_section .content_sirocco .rules img {
        width: 100px;
    }

    .a_section .content_sirocco .rules p {
        font-family: KakaoRegular;
        line-height: 28px;
        font-size: 1.1em;
    }

    .a_section .content_sirocco .rules strong {
        font-family: KakaoRegular;
        margin-bottom: 18px;
        display: block;
        font-size: 1.8em;
    }

    .a_section .content_sirocco .rules .cast {
        font-family: KakaoRegular;
        display: block;
        margin-top: 18px;
        font-size: 1.4em;
    }

    .gap {
        display: block;
        margin: 80px 0;
    }

    .content_sirocco table:nth-child(1){
        display: table;
    }

    .content_sirocco table:nth-child(2){
        display: none;
    }

    .content_sirocco table:nth-child(3){
        display: none;
    }

    .content_sirocco table:nth-child(4){
        display: none;
    }

    .content_sirocco table:nth-child(5){
        display: none;
    }

    #asteraFooter {
        width: 100%;
        padding: 36px 0;
        background-color: #111;
        text-align: center;
    }

    #asteraFooter > p {
        color: #fff;
        font-family: CookieRunRegular;
        font-size: .9em;
        line-height: 24px;
    }



}