* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', 'Apple SD Gothic', '맑은고딕', 'Nanum Gothic', sans-serif;
}

a {
    text-decoration: none;
    outline: none;
    color: black;
}

li {
    list-style-type: none;
}

input[type='checkbox']:hover,
label:hover,
button:hover {
    cursor: pointer;
}

body,
th,
td,
input,
select,
textarea,
button {
    font-size: 15px;
    line-height: 1.5;
    font-family: AppleSDGothicNeo-Light, 'Malgun Gothic', '맑은 고딕', sans-serif;
    color: #303030;
}

h1 {
    font-size: 1.5em;
}

button {
    outline: none;
    border: none;
}