@media all and (min-width:768px) and (max-width:1023px) {
    #asteraWrap {
        overflow: hidden;
        position: relative;
        min-width: 768px;
        min-height: 100%;
        box-sizing: border-box;
    }

    #asteraHead {
        position: fixed;
        width: 100%;
        height: auto;
        background-color: #fff;
        border-bottom: 1px solid #e5e5e5;
        z-index: 9999;
    }

    .a_head {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 49px;
    }

    .a_head .tit_logo {
        overflow: hidden;
        margin: 0 auto;
    }

    .a_head .link_logo {
        display: block;
        margin: 0 auto;
        font-family: CookieRunRegular;
    }

    .a_head .btn_mainmenu {
        position: absolute;
        top: 0;
        left: 0;
        width: 50px;
        height: 49px;
        background: url('../images/btn_mainmenu.png') no-repeat center center;
        background-size: 30px;
    }

    .a_head .btn_exmenu {
        position: absolute;
        top: 0;
        right: 0;
        width: 50px;
        height: 49px;
        background: url('../images/btn_exmenu.png') no-repeat center center;
        background-size: 30px;
    }

    /* 메인 메뉴 */
    .main_menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: none;
        z-index: 9999;
    }

    .main_menu .inner_menu {
        overflow-x: hidden;
        overflow-y: auto;
        position: relative;
        height: 100%;
        padding: 0 15px;
        color: #fff;
        background-color: #111;
        box-sizing: border-box;
    }

    .main_menu .tit_sidemenu {
        height: 49px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 50px;
    }

    .main_menu a {
        color: #fff;
    }

    .main_menu a {
        font-family: CookieRunRegular;
    }

    .main_menu .btn_close {
        position: absolute;
        top: 0;
        left: 0;
        width: 50px;
        height: 49px;
        background: url('../images/btn_close.png') no-repeat center center;
        background-size: 20px;
    }
    
    .main_menu .link_gnb {
        display: block;
        padding: 19px 0 14px;
        font-size: 18px;
        border-top: 1px solid #2d2d2d;
    }

    .main_menu .list_gnb li:first-child .link_gnb {
        border-top: none;
    }

    .main_menu .list_sub {
        display: none;
        padding: 32px 0 22px 14px;
        border-top: 1px solid #fff;
    }

    .main_menu .list_sub li {
        padding-bottom: 10px;
    }

    .main_menu .list_sub a {
        font-weight: bold;
    }

    .sub_on {
        display: block !important;
    }

    .ico_arrow {
        width: 25px;
        height: 25px;
        float: right;
    }

    .ico_arrow_up {
        background: url('../images/btn_arrow_up.png') no-repeat center center;
        background-size: 25px;
    }

    .ico_arrow_down {
        background: url('../images/btn_arrow_down.png') no-repeat center center;
        background-size: 25px;
    }

    .astera_info {
        padding: 76px 0 24px;
        border-top: 1px solid #2d2d2d;
    }

    .astera_info > small {
        display: block;
        color: #8a8a8a;
        font-family: CookieRunRegular;
        font-size: 0.8em;
    }

    .txt_slogan {
        padding-bottom: 10px;
    }

    /* 외부 링크 메뉴 */
    .ex_menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: none;
        z-index: 9999;
    }

    .ex_menu .inner_menu {
        overflow-x: hidden;
        overflow-y: auto;
        position: relative;
        height: 100%;
        padding: 0 15px;
        color: #fff;
        background-color: #111;
        box-sizing: border-box;
    }

    .ex_menu .tit_sidemenu {
        height: 49px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 50px;
    }

    .ex_menu a {
        color: #fff;
    }

    .ex_menu a {
        font-family: CookieRunRegular;
    }

    .ex_menu .btn_close {
        position: absolute;
        top: 0;
        right: 0;
        width: 50px;
        height: 49px;
        background: url('../images/btn_close.png') no-repeat center center;
        background-size: 20px;
    }
    
    .ex_menu .link_ex {
        display: block;
        padding: 19px 0 14px;
        font-size: 18px;
        border-top: 1px solid #2d2d2d;
    }

    .ex_menu .link_ex > img {
        width: 25px;
        height: 25px;
        margin-right: 10px;
        vertical-align: top;
    }

    .ico_arrow_move {
        background: url('../images/btn_arrow_move.png') no-repeat center center;
        background-size: 25px;
    }

    .main_gnb {
        display: none;
    }

    .ex_gnb {
        display: none;
    }

    #asteraTopSection {
        position: relative;
        width: 100%;
        padding-top: 49px;
    }

    #asteraTopSection > .article_main {
        position: relative;
        width: 100%;
        height: calc(100vh - 49px);
    }

    #asteraTopSection .main_bg {
        display: none;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    #asteraTopSection .main_bg_text {
        position: absolute;
        top: 30%;
        left: 40%;
        transform: translate(-50%, -50%);
    }

    #asteraTopSection .main_bg_text img {
        max-width: 100%;
        max-height: 100%;
    }

    #asteraTopSection video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.7);
    }

    #asteraTopSection > .article_topbanner {
        position: relative;
        width: 100%;
    }

    .article_topbanner .topbanner {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    #asteraMainSection {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .a_section {
        width: 100%;
        min-width: 320px;
        padding: 40px 0;
    }

    .a_section > article {
        text-align: center;
    }

    .a_section .content_title {
        color: #000;
        font-size: 1.2em;
        font-weight: bold;
    }

    .a_section .together_wrapper {
        width: 100%;
        margin-top: 30px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .a_section .together {
        padding: 0 8px;
    }

    .a_section .together_image img {
        width: 80px;
        opacity: 0;
        transform: rotate(90deg);
    }

    .together_animate {
        animation-name: togetherKF;
        animation-duration: .7s;
        animation-fill-mode: forwards;
    }

    @keyframes togetherKF {
        100% {
            opacity: 1;
            transform: rotate(0);
        }
    }

    .a_section .together_title {
        padding: 24px 0 12px;
        color: #000;
        font-weight: bold;
        font-size: 1em;
    }

    .a_section .together_desc {
        line-height: 24px;
        font-size: .8em;
    }

    .a_section .content_bar {
        margin: 40px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .a_section .content_bar img {
        width: 100%;
    }

    .a_section .content_second {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .a_section .snapshot_wrapper {
        width: 97%;
        height: 97%;
        opacity: 0;
        visibility: hidden;
        margin-top: 40px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 33% 33% 33%;
        column-gap: 6px;
        row-gap: 6px;
    }

    .a_section .snapshot {
        display: block;
        border: 1px solid #c9c9c9;
    }

    .a_section .snapshot img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .a_section .content_third {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .a_section .content_third > .youtube_logo {
        margin-top: 0px;
    }

    .a_section .content_third > .youtube_logo img {
        width: 60px;
        max-width: 60px;
    }

    .a_section .video_wrapper {
        width: 97%;
        height: 97%;
        opacity: 0;
        visibility: hidden;
        margin-top: 5px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 50% 50%;
        column-gap: 12px;
        row-gap: 12px;
    }

    .a_section .astera_video a {
        display: block;
        border: 1px solid #c9c9c9;
    }

    .a_section .astera_video img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .a_section .astera_video_title {
        margin: 12px 0;
        font-size: 1em;
        font-weight: bold;
    }

    .a_section .astera_video_desc {
        font-size: .8em;
        color: #828282;
    }

    .photo_wrapper_animate {
        animation-name: photoWrapperKF;
        animation-duration: .7s;
        animation-fill-mode: forwards;
    }

    @keyframes photoWrapperKF {
        100% {
            width: 100%;
            height: 100%;
            visibility: visible;
            opacity: 1;
        }
    }

    /* 길드소개 */
    .a_section .content_intro {
        padding: 0 48px;
        text-align: left;
    }

    .a_section .text_astera {
        font-family: KakaoRegular;
        text-align: justify;
        font-size: 1.1em;
        line-height: 36px;
    }

    .a_section .intro_vision {
        padding: 80px 0 0 40px;
        display: grid;
        grid-template-columns: 150px 1fr;
    }

    .a_section .intro_vision img {
        width: 100px;
    }

    .a_section .intro_vision p {
        font-family: KakaoRegular;
        line-height: 36px;
        font-size: 1.1em;
    }

    .a_section .intro_vision strong {
        font-family: KakaoRegular;
        margin-bottom: 24px;
        display: block;
        font-size: 1.8em;
    }

    .a_section .intro_keyword {
        padding: 80px 0 0 40px;
        margin-bottom: 40px;
        display: grid;
        grid-template-columns: 150px 1fr;
    }

    .a_section .intro_keyword img {
        width: 100px;
    }

    .a_section .intro_keyword p {
        font-family: KakaoRegular;
        line-height: 36px;
        font-size: 1.1em;
    }

    .a_section .intro_keyword strong {
        font-family: KakaoRegular;
        margin-bottom: 24px;
        display: block;
        font-size: 1.8em;
    }

    .a_section hr {
        margin: 80px 0;
    }

    .a_section .intro_benefit {
        padding: 80px 0 0 65px;
    }

    .a_section .benefit {
        display: grid;
        grid-template-columns: 125px 1fr;
        margin-bottom: 24px;
    }

    .a_section .intro_benefit img {
        width: 60px;
    }

    .a_section .intro_benefit p {
        font-family: KakaoRegular;
        line-height: 24px;
        font-size: 1.1em;
    }

    .a_section .intro_benefit strong {
        font-family: KakaoRegular;
        margin-bottom: 12px;
        display: block;
        font-size: 1.4em;
    }

    .a_section .intro_gi {
        padding-top: 20px;
        text-align: center;
    }

    .a_section .intro_gi img {
        width: 100%;
        object-fit: cover;
    }

    /* 길드 규칙 */
    .a_section .content_rule {
        padding: 0 48px;
        text-align: left;
    }

    .a_section .rules {
        padding: 80px 0 0 40px;
        display: grid;
        grid-template-columns: 150px 1fr;
    }

    .a_section .rules img {
        width: 100px;
    }

    .a_section .rules p {
        font-family: KakaoRegular;
        line-height: 28px;
        font-size: 1.1em;
    }

    .a_section .rules p span {
        font-family: KakaoRegular;
        line-height: 28px;
        font-size: 1.1em;
    }

    .a_section .rules strong {
        font-family: KakaoRegular;
        margin-bottom: 18px;
        display: block;
        font-size: 1.8em;
    }

    /* 가입 방법 */
    .a_section .content_career {
        padding: 0 48px;
        text-align: center;
    }

    .a_section .content_career hr {
        margin: 80px 0 50px;
    }

    .a_section .content_career li {
        margin-left: 4px;
        list-style-type: disc;
        font-family: KakaoRegular;
        text-align: justify;
        font-size: 1.1em;
        line-height: 36px;
    }

    .a_section .talents {
        padding: 40px 0 0 0;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 16% 16% 16% 16% 16% 16%;
        column-gap: 14px;
        row-gap: 10px;
    }

    .a_section .talent {
        position: relative;
        width: auto;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        border: 1px solid #c9c9c9;
        box-shadow: 0 0 4px 1px rgba(0, 0, 0, .2);
    }

    .a_section .talent:hover p {
        color: #ff0141;
    }

    .a_section .talent p {
        font-family: KakaoRegular;
        line-height: 28px;
        font-size: 1.2em;
        font-weight: bold;
    }

    .a_section .career_process {
        margin: 20px 0 40px;
        display: grid;
        grid-template-columns: 250px 250px 250px;
        column-gap: 30px;
    }

    .a_section .process {
        padding: 40px 0 0 40px;
        display: grid;
        grid-template-columns: 150px 1fr;
    }

    .a_section .process img {
        width: 100px;
    }

    .a_section .process p {
        text-align: left !important;
        font-family: KakaoRegular;
        line-height: 28px;
        font-size: 1.1em;
    }

    .a_section .process strong {
        font-family: KakaoRegular;
        margin: 12px 0 18px;
        display: block;
        font-size: 1.8em;
    }

    .a_section .content_career > a {
        display: inline-block;
        margin: 40px 20px 0;
        padding: 18px 54px;
        color: #fff;
        font-family: KakaoRegular;
        line-height: 28px;
        font-size: 1.4em;
        box-sizing: border-box;
        background: #000;
    }

    /* 모바일 앱 */
    .a_section .content_app {
        padding: 0 48px;
        text-align: left;
    }

    .a_section .content_app .app_header {
        font-family: KakaoRegular;
        color: #ff0141;
        font-size: 1.8em;
        padding-bottom: 20px;
    }
    
    .a_section .content_app .app_comment  {
        font-family: KakaoRegular;
        font-size: 1.2em;
        padding-bottom: 20px;
    }

    .a_section .content_app .app_banner {
        display: inline-block;
        margin-top: 80px;
        box-sizing: border-box;
        background: #ff0141;
        border-radius: 0 25px 0 0;
    }

    .a_section .app_banner p {
        margin: 15px 20px;
        font-family: KakaoRegular;
        color: white;
        font-weight: bold;
    }
    

    .a_section .app_list {
        padding: 40px 0 120px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 33% 33% 33%;
        column-gap: 14px;
        row-gap: 50px;
    }

    .a_section .app_box {
        width: 100%;
        height: auto;
    }

    .a_section .app_box .app_thumb {
        width: 100%;
    }

    .a_section .app_box .app_thumb img {
        width: 100%;
        object-fit: cover;
    }

    .a_section .app_box .app_title {
        padding: 20px 0 10px;
        font-family: KakaoRegular;
        font-size: 1.6em;
        font-weight: bold;
    }

    .a_section .app_box .app_desc {
        font-family: KakaoRegular;
        font-size: 1.1em;
    }

    /* 문의사항 */
    .a_section .content_support {
        padding: 0 48px;
    }

    .a_section .content_support img {
        margin-bottom: 18px;
    }

    .a_section .content_support .support_header {
        font-family: KakaoRegular;
        color: #ff0141;
        font-size: 1.8em;
        padding-bottom: 20px;
    }
    
    .a_section .content_support .support_comment  {
        font-family: KakaoRegular;
        font-size: 1.2em;
        padding-bottom: 20px;
    }

    .a_section .content_support hr {
        width: 700px;
        margin: 60px auto 0px;
    }

    .a_section .content_support > a {
        display: inline-block;
        margin: 40px 20px 0;
        padding: 18px 54px;
        color: #fff;
        font-family: KakaoRegular;
        line-height: 28px;
        font-size: 1.4em;
        box-sizing: border-box;
        background: #000;
    }

    .a_section .content_support .rules {
        width: 700px;
        text-align: left;
        display: grid;
        grid-template-columns: 150px 550px;
        margin: 0 auto;
    }

    /* 후원하기 */
    .a_section .content_sponsor {
        padding: 0 48px;
    }

    .a_section .content_sponsor > img {
        margin-bottom: 18px;
    }

    .a_section .content_sponsor .header {
        font-family: KakaoRegular;
        color: #ff0141;
        font-size: 1.8em;
        padding-bottom: 20px;
    }
    
    .a_section .content_sponsor .comment  {
        font-family: KakaoRegular;
        font-size: 1.2em;
        padding-bottom: 20px;
    }

    .a_section .content_sponsor hr {
        width: 700px;
        margin: 60px auto;
    }

    .a_section .sponsor_list {
        padding: 0 0 40px;
    }

    .a_section .sponsor_box {
        display: inline-block;
        width: 240px;
        height: auto;
        padding: 20px 40px;
    }

    .a_section .sponsor_box .sponsor_thumb {
        width: 240px;
    }

    .a_section .sponsor_box .sponsor_thumb img {
        width: 240px;
        object-fit: cover;
    }

    .a_section .sponsor_box .sponsor_title {
        padding: 20px 0 10px;
        font-family: KakaoRegular;
        font-size: 1.6em;
        font-weight: bold;
    }

    .a_section .sponsor_box .sponsor_desc {
        font-family: KakaoRegular;
        font-size: 1.0em;
    }

    /* 오픈채팅 */
    .a_section .content_chat {
        padding: 0 48px;
        text-align: left;
    }

    .a_section .content_chat .rules {
        padding: 80px 0 0 40px;
        display: grid;
        grid-template-columns: 150px 1fr;
    }

    .a_section .content_chat .rules img {
        width: 100px;
    }

    .a_section .content_chat .rules p {
        font-family: KakaoRegular;
        line-height: 28px;
        font-size: 1.1em;
    }

    .a_section .content_chat .rules strong {
        font-family: KakaoRegular;
        margin-bottom: 18px;
        display: block;
        font-size: 1.8em;
    }

    .a_section .go_chat {
        margin: 80px 0 40px;
        display: block;
        text-align: center;
    }

    .a_section .go_chat > a {
        padding: 18px 54px;
        color: #fff;
        font-family: KakaoRegular;
        line-height: 28px;
        font-size: 1.4em;
        box-sizing: border-box;
        background: #000;
    }

    .chat_banner {
        display: block;
        margin: 60px auto 0px;
        width: 80%;
    }

    .a_section .content_sirocco {
        padding: 0 48px;
        text-align: left;
    }

    .table_container {
        width:100%;	
	    overflow-x:auto;
        white-space: nowrap;
    }

    .raid_player {
        margin: 15px 0 80px 40px;
        border: 1px solid #666;
        text-align: center;
        box-sizing: border-box;
        border-collapse: collapse;

    }

    .raid_top {
        background: #dadada;
        font-weight: bold;
    }

    td {
        font-family: KakaoRegular;
        font-size: 1.2em;
        padding: 20px 40px;
        border: 1px solid #666;
    }

    td.player {
        width: 150px;
    }

    .raid_button {
        margin-top: 40px;
        padding-left: 40px;
    }

    .a_section .content_sirocco button {
        display: inline-block;
        padding: 15px 40px;
        font-family: KakaoRegular;
        font-weight: bold;
        color: #fff;
        background: #000;
    }

    .a_section .content_sirocco .rules {
        padding: 40px 0 20px 40px;
        display: grid;
        grid-template-columns: 150px 1fr;
    }

    .a_section .content_sirocco .rules img {
        width: 100px;
    }

    .a_section .content_sirocco .rules p {
        font-family: KakaoRegular;
        line-height: 28px;
        font-size: 1.1em;
    }

    .a_section .content_sirocco .rules strong {
        font-family: KakaoRegular;
        margin-bottom: 18px;
        display: block;
        font-size: 1.8em;
    }

    .a_section .content_sirocco .rules .cast {
        font-family: KakaoRegular;
        display: block;
        margin-top: 18px;
        font-size: 1.4em;
    }

    .gap {
        display: block;
        margin: 80px 0;
    }

    .content_sirocco table:nth-child(1){
        display: table;
    }

    .content_sirocco table:nth-child(2){
        display: none;
    }

    .content_sirocco table:nth-child(3){
        display: none;
    }

    .content_sirocco table:nth-child(4){
        display: none;
    }

    .content_sirocco table:nth-child(5){
        display: none;
    }

    #asteraFooter {
        width: 100%;
        padding: 36px 0;
        background-color: #111;
        text-align: center;
    }

    #asteraFooter > p {
        color: #fff;
        font-family: CookieRunRegular;
        font-size: .8em;
        line-height: 24px;
    }
}